<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <h3 class="card-header">Know the weather for today</h3>
                <div class="card-body">
                    <form (submit)="submitCity(cityName)">
                        <label for="">City:</label>
                        <select size="1" class="form-control form-control-md " #cityName>
                          <option value="">Choose... </option>
                          <option value="Amsterdam">Amsterdam</option>
                          <option value="Athens">Athens</option>
                          <option value="Baghdad">Baghdad</option>
                          <option value="Bangkok">Bangkok</option>
                          <option value="Barcelona">Barcelona</option>
                          <option value="Beijing">Beijing</option>
                          <option value="Belgrade">Belgrade</option>
                          <option value="london">London</option>
                          <option value="lima">Lima</option>
                        </select>
                        <button class="btn btn-primary btn-block float-right mt-4"> Get Weather </button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div *ngIf="weather" class="card">
                <h3 class="card-header">{{weather.name}}</h3>
                <div class="card-body">
                    <h3> Temperature: {{weather.main.temp}} °C</h3>
                    <h3> Temperature Min: {{weather.main.temp_min}}°C</h3>
                    <h3> Temperature Max: {{weather.main.temp_max}}°C</h3>
                    <h3> Humidity: {{weather.main.humidity}}nH</h3>
                    <h3> Pressure: {{weather.main.pressure}}</h3>

                </div>
            </div>
        </div>



    </div>